:root{
--accent:#3b82f6;
--bg:#0f172a;
--block:#1e293b;
}

/* reset */

*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:Arial;
background:var(--bg);
color:white;
max-width:700px;
margin:auto;
padding:15px;
}


/* splash */

#splash{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#020617;
display:flex;
align-items:center;
justify-content:center;
z-index:9999;

opacity:1;
transition:opacity .6s ease;
}

#splash.hidden{
opacity:0;
pointer-events:none;
}

.splashLogo{
text-align:center;
}

.splashLogo img{
width:120px;
margin-bottom:20px;
}


/* header */

.appHeader{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.appTitle{
font-size:20px;
font-weight:bold;
}

.appVersion{
font-size:12px;
opacity:.6;
}


/* blocks */

.block{
background:var(--block);
padding:12px;
border-radius:10px;
margin-bottom:12px;
}


/* inputs */

input,
select,
button{
width:100%;
padding:10px;
margin:5px 0;
border-radius:8px;
border:none;
font-size:16px;
}


/* buttons */

button{
background:var(--accent);
color:white;
font-weight:bold;
cursor:pointer;
transition:.2s;
}

button:hover{
opacity:.9;
}


/* quick buttons */

.quickRow{
display:flex;
gap:6px;
margin-bottom:6px;
flex-wrap:wrap;
}

.quickRow button{
flex:1;
padding:8px;
font-size:14px;
}


/* training mode */

.training{
--accent:#22c55e;
--bg:#052e16;
--block:#064e3b;
}


/* result buttons */

.resultBtn{
background:#334155;
}

.resultBtn.active{
background:var(--accent);
}


/* hidden */

.hidden{
display:none;
}


/* switch */

.modeSwitch{
display:flex;
align-items:center;
gap:10px;
margin-bottom:10px;
}

.switch{
position:relative;
display:inline-block;
width:50px;
height:24px;
}

.switch input{
opacity:0;
width:0;
height:0;
}

.slider{
position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background:#334155;
transition:.3s;
border-radius:24px;
}

.slider:before{
position:absolute;
content:"";
height:18px;
width:18px;
left:3px;
bottom:3px;
background:white;
transition:.3s;
border-radius:50%;
}

input:checked + .slider{
background:#22c55e;
}

input:checked + .slider:before{
transform:translateX(26px);
}


/* send modal */

.sendMenu{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
display:none;
align-items:center;
justify-content:center;
z-index:2000;
}

.sendBox{
background:#020617;
padding:20px;
border-radius:10px;
width:260px;
text-align:center;
}

.sendBox button{
margin-top:10px;
}


/* log */

.logButtons{
display:flex;
gap:6px;
margin-bottom:10px;
}

.logButtons button{
flex:1;
font-size:12px;
padding:6px;
}


/* report */

#reportPreview{
white-space:pre-line;
background:#020617;
padding:12px;
border-radius:10px;
font-size:14px;
}


/* toast */

#toast{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
background:#16a34a;
padding:10px 20px;
border-radius:8px;
display:none;
}